<a href="https://colab.research.google.com/github/InwARMSelviAXE/BasicProg_DataViz65/blob/main/Final%20Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [161]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [162]:
import os
os.chdir('/content/drive/MyDrive/BPDV65/Project Final')

!pwd

/content/drive/MyDrive/BPDV65/Project Final

In [163]:
!ls

opendata_interest.csv			  opendata_train_station.csv
opendata_project_clean_Final_Project.csv  opendata_unittype.csv
opendata_project.csv			  opendata_volume_npa.csv

In [164]:
import pandas as pd

In [165]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape)
opendata_project

(23913, 46)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project,day
0,4809.0,project_4270,Paholyothin Park Condominium,พหลโยธิน ปาร์ค คอนโดมิเนียม,2,Condo,คอนโด,3650000.0,developer_10510,NaN,...,1.0,1.0,NaN,1.0,2017-02-27 16:46:08,2003-12-31 07:00:00,2021-03-12 12:30:04,baania,https://baania.com/th/project/พหลโยธิน-ปาร์ค-ค...,2022-09-30
1,20964.0,project_15158,The Chill Village,เดอะ ชิลล์ วิลเลจ,3,Townhome,ทาวน์โฮม,2450000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2019-01-09 10:01:47,1970-01-02 07:00:00,2020-12-04 10:34:48,baania,https://baania.com/th/project/เดอะ-ชิลล์-วิลเล...,2022-09-30
2,21086.0,project_9490,Diya Valley Sriracha,ดีญ่า วาเล่ย์ ศรีราชา,1,Detached House,บ้าน,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",...,1.0,0.0,1.0,1.0,2017-09-06 13:01:47,1970-01-02 07:00:00,2020-12-04 10:36:24,baania,https://baania.com/th/project/ดีญ่า-วาเล่ย์-ศร...,2022-09-30
3,10281.0,project_13601,Baan Rungrawe,บ้านรุ่งระวี,1,Detached House,บ้าน,2750000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2018-05-29 16:39:45,1970-01-02 07:00:00,2020-12-04 10:38:35,baania,https://baania.com/th/project/บ้านรุ่งระวี-pro...,2022-09-30
4,6023.0,project_12398,Town Plus Ladprao 101,ทาวน์พลัส ลาดพร้าว 101,3,Townhome,ทาวน์โฮม,4600000.0,developer_2417,"PLUS PROPERTY CO., LTD.",...,1.0,1.0,NaN,1.0,2017-12-08 10:34:05,1970-01-02 07:00:00,2021-07-13 11:30:08,baania,https://baania.com/th/project/ทาวน์พลัส-ลาดพร้...,2022-09-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23908,17054.0,62c6a9accb0d2c0014be0afa,Kave Town Colony,เคฟ ทาวน์ โคโลนี,2,Condo,คอนโด,1390000.0,developer_1789,"Asset Wise Pub Co., Ltd.",...,1.0,NaN,1.0,1.0,2022-07-07 16:38:52,NaN,2022-07-07 17:30:05,baania,https://baania.com/th/project/เคฟ-ทาวน์-โคโลนี...,2022-09-30
23909,19707.0,project_780,Baan Chat Amorn,บ้านฉัตรอมร,1,Detached House,บ้าน,1400000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2015-10-28 16:18:57,1970-01-02 07:00:00,2020-12-04 10:44:20,baania,https://baania.com/th/project/บ้านฉัตรอมร-proj...,2022-09-30
23910,20517.0,625f8ce8f18e1c0013e80bd9,Kitchaya Home @Kravon,กิตชญาโฮม @กระวน,1,Detached House,บ้าน,1790000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2022-04-20 11:32:40,2021-01-01 07:00:00,2022-04-20 12:30:05,baania,https://baania.com/th/project/กิตชญาโฮม-กระวน-...,2022-09-30
23911,1356.0,project_3718,Passorn Prestige Rangsit-Klong 2,ภัสสร เพรสทีจ รังสิต-คลอง 2,1,Detached House,บ้าน,3790000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,1.0,1.0,1.0,1.0,2017-01-31 16:06:30,2017-12-31 07:00:00,2021-04-19 17:00:05,baania,https://baania.com/th/project/ภัสสร-เพรสทีจ-รั...,2022-09-30
23912,2095.0,project_7949,The Tropical Condominium,เดอะ ทรอปิคอล คอนโดมิเนียม,2,Condo,คอนโด,999000.0,developer_5477,NaN,...,1.0,NaN,1.0,1.0,2017-06-22 14:49:44,2010-02-28 07:00:00,2020-12-04 10:41:05,baania,https://baania.com/th/project/เดอะ-ทรอปิคอล-คอ...,2022-09-30

In [166]:
opendata_project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project',
       'day'],
      dtype='object')

In [167]:
opendata_project = opendata_project[['project_id',  'name_en',  'propertytype_id',
       'propertytype_name_en', 'price_min',
       'developer_id', 'developer_name_en',  'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
        'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security']]

In [168]:
opendata_project

,project_id,name_en,propertytype_id,propertytype_name_en,price_min,developer_id,developer_name_en,latitude,longitude,neighborhood_id,...,count_parking,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
0,project_4270,Paholyothin Park Condominium,2,Condo,3650000.0,developer_10510,NaN,13.786388,100.553931,B1161,...,NaN,96.0,2.0,NaN,1.0,NaN,1.0,1.0,NaN,1.0
1,project_15158,The Chill Village,3,Townhome,2450000.0,developer_10510,NaN,16.209059,103.288288,NaN,...,NaN,125.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,project_9490,Diya Valley Sriracha,1,Detached House,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",13.173645,100.954876,B0752,...,NaN,195.0,4.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
3,project_13601,Baan Rungrawe,1,Detached House,2750000.0,developer_10510,NaN,8.096150,98.309995,NaN,...,NaN,32.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,project_12398,Town Plus Ladprao 101,3,Townhome,4600000.0,developer_2417,"PLUS PROPERTY CO., LTD.",13.797585,100.633945,B1073,...,NaN,114.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23908,62c6a9accb0d2c0014be0afa,Kave Town Colony,2,Condo,1390000.0,developer_1789,"Asset Wise Pub Co., Ltd.",14.042627,100.615890,B0964,...,381.0,1083.0,NaN,NaN,1.0,NaN,1.0,NaN,1.0,1.0
23909,project_780,Baan Chat Amorn,1,Detached House,1400000.0,developer_10510,NaN,18.817103,99.018831,B0070,...,NaN,15.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23910,625f8ce8f18e1c0013e80bd9,Kitchaya Home @Kravon,1,Detached House,1790000.0,developer_10510,NaN,16.711007,103.084464,NaN,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23911,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",13.993865,100.662066,B0967,...,NaN,324.0,5.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0
23912,project_7949,The Tropical Condominium,2,Condo,999000.0,developer_5477,NaN,13.707605,100.610161,B1049,...,30.0,72.0,2.0,NaN,1.0,NaN,1.0,NaN,1.0,1.0

In [169]:
opendata_project.isnull().any()

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
price_min                  True
developer_id              False
developer_name_en          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
dtype: bool

In [170]:
print(len(opendata_project[opendata_project['price_min'].isnull()]))
opendata_project = opendata_project.dropna(subset=['price_min'])

109

In [171]:
opendata_project[opendata_project['longitude'].isnull()]

,project_id,name_en,propertytype_id,propertytype_name_en,price_min,developer_id,developer_name_en,latitude,longitude,neighborhood_id,...,count_parking,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
168,ขนส่งปทุม,3656.0,บางโพธิ์เหนือ,3647,สามโคก,3599,Pathum Thani,12160.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12097,ขนส่งปทุม,3611.0,บ้านฉาง,3600,เมืองปทุมธานี,3599,Pathum Thani,12000.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15944,ขนส่งปทุม,3634.0,คูบางหลวง,3630,ลาดหลุมแก้ว,3599,Pathum Thani,12140.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17513,ขนส่งปทุม,3656.0,บางโพธิ์เหนือ,3647,สามโคก,3599,Pathum Thani,12160.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17559,ขนส่งปทุม,3656.0,บางโพธิ์เหนือ,3647,สามโคก,3599,Pathum Thani,12160.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21577,ขนส่งปทุม,3634.0,คูบางหลวง,3630,ลาดหลุมแก้ว,3599,Pathum Thani,12140.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [172]:
opendata_project = opendata_project.dropna(subset=['longitude'])

In [173]:
print(len(opendata_project[opendata_project['subdistrict_id'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['subdistrict_id'])

16

In [174]:
print(len(opendata_project[opendata_project['zipcode'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['zipcode'])

28

In [175]:
opendata_project['developer_name_en'] = opendata_project['developer_name_en'].fillna('Unknown')
opendata_project['neighborhood_id'] = opendata_project['neighborhood_id'].fillna('Unknown')
opendata_project['neighborhood_name_en'] = opendata_project['neighborhood_name_en'].fillna('Unknown')

In [176]:
opendata_project[['count_floor', 'count_unit','count_unittype']]  = opendata_project[['count_floor', 'count_unit','count_unittype']].fillna(1)
opendata_project[['count_elevator','count_floor','count_parking', 'count_elevator_service']] = opendata_project[['count_elevator','count_floor','count_parking', 'count_elevator_service']].fillna(0) 
opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']] = opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']].fillna(0)

In [177]:
opendata_project.isnull().any()

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
price_min                 False
developer_id              False
developer_name_en         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
dtype: bool

In [178]:
opendata_project

,project_id,name_en,propertytype_id,propertytype_name_en,price_min,developer_id,developer_name_en,latitude,longitude,neighborhood_id,...,count_parking,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
0,project_4270,Paholyothin Park Condominium,2,Condo,3650000.0,developer_10510,Unknown,13.786388,100.553931,B1161,...,0,96.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0
1,project_15158,The Chill Village,3,Townhome,2450000.0,developer_10510,Unknown,16.209059,103.288288,Unknown,...,0,125.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,project_9490,Diya Valley Sriracha,1,Detached House,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",13.173645,100.954876,B0752,...,0,195.0,4.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
3,project_13601,Baan Rungrawe,1,Detached House,2750000.0,developer_10510,Unknown,8.096150,98.309995,Unknown,...,0,32.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,project_12398,Town Plus Ladprao 101,3,Townhome,4600000.0,developer_2417,"PLUS PROPERTY CO., LTD.",13.797585,100.633945,B1073,...,0,114.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23908,62c6a9accb0d2c0014be0afa,Kave Town Colony,2,Condo,1390000.0,developer_1789,"Asset Wise Pub Co., Ltd.",14.042627,100.615890,B0964,...,381.0,1083.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0
23909,project_780,Baan Chat Amorn,1,Detached House,1400000.0,developer_10510,Unknown,18.817103,99.018831,B0070,...,0,15.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23910,625f8ce8f18e1c0013e80bd9,Kitchaya Home @Kravon,1,Detached House,1790000.0,developer_10510,Unknown,16.711007,103.084464,Unknown,...,0,6.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23911,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",13.993865,100.662066,B0967,...,0,324.0,5.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
23912,project_7949,The Tropical Condominium,2,Condo,999000.0,developer_5477,Unknown,13.707605,100.610161,B1049,...,30.0,72.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0

In [179]:
opendata_project.dtypes

project_id                 object
name_en                    object
propertytype_id            object
propertytype_name_en       object
price_min                  object
developer_id               object
developer_name_en          object
latitude                  float64
longitude                 float64
neighborhood_id            object
neighborhood_name_en       object
subdistrict_id            float64
subdistrict_name_en        object
subdistrict_name_th        object
district_id               float64
district_name_en           object
district_name_th           object
province_id               float64
province_name_en           object
province_name_th           object
zipcode                   float64
count_elevator             object
count_elevator_service     object
count_floor                object
count_parking              object
count_unit                 object
count_unittype            float64
facility_clubhouse        float64
facility_fitness          float64
facility_meeting          float64
facility_park             float64
facility_playground       float64
facility_pool             float64
facility_security         float64
dtype: object

In [180]:
opendata_project.to_csv('opendata_project_clean_Final_Project.csv', index=False)

In [181]:
opendata_unittype = pd.read_csv('opendata_unittype.csv')
print(opendata_unittype.shape) 
opendata_unittype

(43385, 28)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day
0,2032,unittype_19988,project_7861,1 Bedroom,2,Condo,คอนโด,NaN,31.0,3002000.0,...,NaN,NaN,NaN,NaN,NaN,2022-06-16 14:30:02,2022-06-16 14:15:26,baania,https://baania.com/th/project/ไลฟ์-รัชดาภิเษก-...,2022-09-30
1,34437,unittype_37037,project_15918,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,480.0,1700000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:45:20,2020-10-14 22:19:25,baania,https://baania.com/th/project/ธนาโฮม-อุดรธานี-...,2022-09-30
2,29002,unittype_18897,project_6287,Studio,2,Condo,คอนโด,NaN,27.0,400000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:33:39,2021-07-30 12:49:12,baania,https://baania.com/th/project/ธนพล-คอนโดมิเนีย...,2022-09-30
3,37984,unittype_39281,project_17150,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,60.0,155.0,2490000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:17:47,2020-01-16 16:13:43,baania,https://baania.com/th/project/บ้านพุทธรักษา-สา...,2022-09-30
4,24488,unittype_14987,project_4759,Studio Floor 5,2,Condo,คอนโด,NaN,40.0,367000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:17,2020-10-14 01:01:21,baania,https://baania.com/th/project/คอนโดฉัตรลดา-2-4...,2022-09-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43380,17220,5f350b3ac801fb0019dacd64,5f350a8cc801fb0019dacd5c,อาคารพาณิชย์สามชั้น,4,Commercial,อาคารพาณิชย์,NaN,NaN,2900000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:27:49,2021-01-08 15:45:38,baania,https://baania.com/th/project/วัน-พาร์ค-เชียงร...,2022-09-30
43381,6793,unittype_31336,project_13200,Studio,2,Condo,คอนโด,NaN,40.0,2200000.0,...,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:22:25,2020-10-14 01:10:09,baania,https://baania.com/th/project/มาย-คอนโด-กมลา-1...,2022-09-30
43382,26351,unittype_19427,project_7749,Studio Tower 1-3 Floor 4,2,Condo,คอนโด,NaN,28.0,176000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:44,2020-10-14 01:06:47,baania,https://baania.com/th/project/บ้านดงอุดม-7749/...,2022-09-30
43383,27238,unittype_18733,project_3996,Studio Floor 7-8,2,Condo,คอนโด,NaN,26.0,1068000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:03,2020-10-14 00:58:29,baania,https://baania.com/th/project/แม็กซ์-คอนโดมิเน...,2022-09-30
43384,24614,unittype_14852,project_3827,Studio อาคาร เอ Floor 7-9,2,Condo,คอนโด,NaN,37.0,1288000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:20:54,2020-10-14 00:57:50,baania,https://baania.com/th/project/เอลิส-ติวานนท์-ค...,2022-09-30

In [182]:
opendata_unittype.columns

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype', 'day'],
      dtype='object')

In [183]:
opendata_unittype = opendata_unittype[['unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility']]

In [184]:
opendata_unittype

,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_19988,project_7861,1 Bedroom,2,Condo,คอนโด,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,unittype_37037,project_15918,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,NaN,1.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,unittype_18897,project_6287,Studio,2,Condo,คอนโด,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,unittype_39281,project_17150,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,NaN,1.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,unittype_14987,project_4759,Studio Floor 5,2,Condo,คอนโด,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43380,5f350b3ac801fb0019dacd64,5f350a8cc801fb0019dacd5c,อาคารพาณิชย์สามชั้น,4,Commercial,อาคารพาณิชย์,NaN,NaN,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43381,unittype_31336,project_13200,Studio,2,Condo,คอนโด,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN
43382,unittype_19427,project_7749,Studio Tower 1-3 Floor 4,2,Condo,คอนโด,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43383,unittype_18733,project_3996,Studio Floor 7-8,2,Condo,คอนโด,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43384,unittype_14852,project_3827,Studio อาคาร เอ Floor 7-9,2,Condo,คอนโด,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [185]:
opendata_unittype.isnull().any()

unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
dtype: bool

In [186]:
opendata_unittype['name_th'] = opendata_unittype['name_th'].fillna('Unknown')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [187]:
opendata_unittype[['count_floor_internal']]  = opendata_unittype[['count_floor_internal']].fillna(1) 
opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]]  = opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]].fillna(0)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [188]:
opendata_unittype.isnull().any()

unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
count_airconditioner    False
count_elevator          False
count_floor_internal    False
count_parking           False
count_room_bath         False
count_room_bed          False
count_room_dinning      False
count_room_guest        False
count_room_kitchen      False
count_room_living       False
count_room_maid         False
count_room_storage      False
count_room_utility      False
dtype: bool

In [189]:
opendata_unittype

,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_19988,project_7861,1 Bedroom,2,Condo,คอนโด,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,unittype_37037,project_15918,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,unittype_18897,project_6287,Studio,2,Condo,คอนโด,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,unittype_39281,project_17150,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,unittype_14987,project_4759,Studio Floor 5,2,Condo,คอนโด,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43380,5f350b3ac801fb0019dacd64,5f350a8cc801fb0019dacd5c,อาคารพาณิชย์สามชั้น,4,Commercial,อาคารพาณิชย์,0.0,0.0,3.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43381,unittype_31336,project_13200,Studio,2,Condo,คอนโด,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
43382,unittype_19427,project_7749,Studio Tower 1-3 Floor 4,2,Condo,คอนโด,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43383,unittype_18733,project_3996,Studio Floor 7-8,2,Condo,คอนโด,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43384,unittype_14852,project_3827,Studio อาคาร เอ Floor 7-9,2,Condo,คอนโด,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [190]:
opendata_unittype.dtypes

unittype_id              object
project_id               object
name_th                  object
propertytype_id           int64
propertytype_name_en     object
propertytype_name_th     object
count_airconditioner    float64
count_elevator          float64
count_floor_internal    float64
count_parking           float64
count_room_bath         float64
count_room_bed          float64
count_room_dinning      float64
count_room_guest        float64
count_room_kitchen      float64
count_room_living       float64
count_room_maid         float64
count_room_storage      float64
count_room_utility      float64
dtype: object

In [191]:
opendata_unittype.to_csv('opendata_unittype_clean_Final_Project.csv', index=False)

In [192]:
opendata_train_station = pd.read_csv('opendata_train_station.csv')
print(opendata_train_station.shape) 
opendata_train_station

(318, 20)

,row_number,gid,line_no,railway,line_typt,line_type,status,line_th,line_en,station_th,station_en,latitude,longitude,prov_namt,prov_name,amp_namt,amp_name,tam_namt,tam_name,day
0,286,254,9,รถไฟฟ้า,เอ็มอาร์ทีเอ,MRT,อนาคต,สายสีเหลือง,Yellow Line,ศรีแบริ่ง,Si Bearing,13.644190,100.636665,สมุทรปราการ,SAMUT PRAKAN,บางพลี,BANG PHLI,บางแก้ว,BANG KAEO,2022-09-30
1,265,130,4,รถไฟฟ้า,เอ็มอาร์ที,MRT,ปัจจุบัน,สายสีม่วง,Purple Line,ตลาดบางใหญ่,Talad Bang Yai,13.881849,100.409349,นนทบุรี,NONTHABURI,บางบัวทอง,BANG BUA THONG,บางรักพัฒนา,BANG RAK PHATTHANA,2022-09-30
2,18,110,3,รถไฟฟ้า,เอ็มอาร์ที,MRT,ปัจจุบัน,สายสีน้ำเงิน,Blue Line,บางแค,Bang Khae,13.711927,100.421581,กรุงเทพมหานคร,BANGKOK,บางแค,BANG KHAE,บางแค,BANG KHAE,2022-09-30
3,263,293,12,รถไฟฟ้า,บีทีเอส,BTS,ปัจจุบัน,สายสีเทา,Grey Line,ลาดพร้าว-87,Lat Phrao 87,13.801127,100.614995,กรุงเทพมหานคร,BANGKOK,บางกะปิ,BANG KAPI,คลองจั่น,KHLONG CHAN,2022-09-30
4,235,105,3,รถไฟฟ้า,เอ็มอาร์ที,MRT,ปัจจุบัน,สายสีน้ำเงิน,Blue Line,วัดมังกร,Wat Mangkon,13.741677,100.510687,กรุงเทพมหานคร,BANGKOK,สัมพันธวงศ์,SAMPHANTHAWONG,สัมพันธวงศ์,SAMPHANTHAWONG,2022-09-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,216,286,11,รถไฟฟ้า,บีทีเอส,BTS,ปัจจุบัน,สายสีทอง,Gold line,สถานีคลองสาน,Khlong San,13.730545,100.507354,กรุงเทพมหานคร,BANGKOK,คลองสาน,KHLONG SAN,คลองสาน,KHLONG SAN,2022-09-30
314,141,99,3,รถไฟฟ้า,เอ็มอาร์ที,MRT,ปัจจุบัน,สายสีน้ำเงิน,Blue Line,สามย่าน,Sam Yan,13.732554,100.529493,กรุงเทพมหานคร,BANGKOK,ปทุมวัน,PATHUM WAN,วังใหม่,WANG MAI,2022-09-30
315,131,283,10,รถไฟฟ้า,เอ็มอาร์ทีเอ,MRT,ปัจจุบัน,สายสีชมพู,Pink Line,ชลประทาน,Royal Irrigation Department,13.898695,100.507030,นนทบุรี,NONTHABURI,ปากเกร็ด,PAK KRET,บางตลาด,BANG TALAT,2022-09-30
316,196,252,9,รถไฟฟ้า,เอ็มอาร์ทีเอ,MRT,อนาคต,สายสีเหลือง,Yellow Line,ศรีเอี่ยม,Si Iam,13.664307,100.644072,กรุงเทพมหานคร,BANGKOK,บางนา,BANG NA,บางนาใต้,BANG NA TAI,2022-09-30
317,253,32,1,รถไฟฟ้า,บีทีเอส,BTS,ปัจจุบัน,สายสุขุมวิท,Sukhumvit Line,อโศก,Asok,13.737045,100.560344,กรุงเทพมหานคร,BANGKOK,คลองเตย,KHLONG TOEI,คลองเตย,KHLONG TOEI,2022-09-30

In [193]:
opendata_train_station.columns

Index(['row_number', 'gid', 'line_no', 'railway', 'line_typt', 'line_type',
       'status', 'line_th', 'line_en', 'station_th', 'station_en', 'latitude',
       'longitude', 'prov_namt', 'prov_name', 'amp_namt', 'amp_name',
       'tam_namt', 'tam_name', 'day'],
      dtype='object')

In [194]:
opendata_train_station = opendata_train_station[['row_number', 'gid', 'line_no', 'railway', 'line_typt', 'line_type',
       'status', 'line_th', 'line_en', 'station_th', 'station_en', 'latitude',
       'longitude', 'prov_namt', 'prov_name', 'amp_namt', 'amp_name',
       'tam_namt', 'tam_name']]

In [195]:
opendata_train_station

,row_number,gid,line_no,railway,line_typt,line_type,status,line_th,line_en,station_th,station_en,latitude,longitude,prov_namt,prov_name,amp_namt,amp_name,tam_namt,tam_name
0,286,254,9,รถไฟฟ้า,เอ็มอาร์ทีเอ,MRT,อนาคต,สายสีเหลือง,Yellow Line,ศรีแบริ่ง,Si Bearing,13.644190,100.636665,สมุทรปราการ,SAMUT PRAKAN,บางพลี,BANG PHLI,บางแก้ว,BANG KAEO
1,265,130,4,รถไฟฟ้า,เอ็มอาร์ที,MRT,ปัจจุบัน,สายสีม่วง,Purple Line,ตลาดบางใหญ่,Talad Bang Yai,13.881849,100.409349,นนทบุรี,NONTHABURI,บางบัวทอง,BANG BUA THONG,บางรักพัฒนา,BANG RAK PHATTHANA
2,18,110,3,รถไฟฟ้า,เอ็มอาร์ที,MRT,ปัจจุบัน,สายสีน้ำเงิน,Blue Line,บางแค,Bang Khae,13.711927,100.421581,กรุงเทพมหานคร,BANGKOK,บางแค,BANG KHAE,บางแค,BANG KHAE
3,263,293,12,รถไฟฟ้า,บีทีเอส,BTS,ปัจจุบัน,สายสีเทา,Grey Line,ลาดพร้าว-87,Lat Phrao 87,13.801127,100.614995,กรุงเทพมหานคร,BANGKOK,บางกะปิ,BANG KAPI,คลองจั่น,KHLONG CHAN
4,235,105,3,รถไฟฟ้า,เอ็มอาร์ที,MRT,ปัจจุบัน,สายสีน้ำเงิน,Blue Line,วัดมังกร,Wat Mangkon,13.741677,100.510687,กรุงเทพมหานคร,BANGKOK,สัมพันธวงศ์,SAMPHANTHAWONG,สัมพันธวงศ์,SAMPHANTHAWONG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,216,286,11,รถไฟฟ้า,บีทีเอส,BTS,ปัจจุบัน,สายสีทอง,Gold line,สถานีคลองสาน,Khlong San,13.730545,100.507354,กรุงเทพมหานคร,BANGKOK,คลองสาน,KHLONG SAN,คลองสาน,KHLONG SAN
314,141,99,3,รถไฟฟ้า,เอ็มอาร์ที,MRT,ปัจจุบัน,สายสีน้ำเงิน,Blue Line,สามย่าน,Sam Yan,13.732554,100.529493,กรุงเทพมหานคร,BANGKOK,ปทุมวัน,PATHUM WAN,วังใหม่,WANG MAI
315,131,283,10,รถไฟฟ้า,เอ็มอาร์ทีเอ,MRT,ปัจจุบัน,สายสีชมพู,Pink Line,ชลประทาน,Royal Irrigation Department,13.898695,100.507030,นนทบุรี,NONTHABURI,ปากเกร็ด,PAK KRET,บางตลาด,BANG TALAT
316,196,252,9,รถไฟฟ้า,เอ็มอาร์ทีเอ,MRT,อนาคต,สายสีเหลือง,Yellow Line,ศรีเอี่ยม,Si Iam,13.664307,100.644072,กรุงเทพมหานคร,BANGKOK,บางนา,BANG NA,บางนาใต้,BANG NA TAI
317,253,32,1,รถไฟฟ้า,บีทีเอส,BTS,ปัจจุบัน,สายสุขุมวิท,Sukhumvit Line,อโศก,Asok,13.737045,100.560344,กรุงเทพมหานคร,BANGKOK,คลองเตย,KHLONG TOEI,คลองเตย,KHLONG TOEI

In [196]:
opendata_train_station.isnull().any()

row_number    False
gid           False
line_no       False
railway       False
line_typt     False
line_type     False
status        False
line_th       False
line_en       False
station_th    False
station_en    False
latitude      False
longitude     False
prov_namt     False
prov_name     False
amp_namt      False
amp_name      False
tam_namt      False
tam_name      False
dtype: bool

In [197]:
opendata_train_station.dtypes

row_number      int64
gid             int64
line_no         int64
railway        object
line_typt      object
line_type      object
status         object
line_th        object
line_en        object
station_th     object
station_en     object
latitude      float64
longitude     float64
prov_namt      object
prov_name      object
amp_namt       object
amp_name       object
tam_namt       object
tam_name       object
dtype: object

In [198]:
opendata_train_station.to_csv('opendata_train_station_Fianl_Project.csv', index=False)

In [199]:
opendata_volume_npa = pd.read_csv('opendata_volume_npa.csv')
print(opendata_volume_npa.shape) 
opendata_volume_npa

(57, 12)

,row_number,transction_year,transction_month,listing_province_name_th,listing_province_name_en,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_npa,value_npa,day
0,25,2021,7,กรุงเทพมหานคร,BANGKOK,วังทองหลาง,WANG THONGLANG,คอนโด,Condo,27,19272000,2022-09-30
1,42,2022,2,นนทบุรี,NONTHABURI,บางบัวทอง,BANG BUA THONG,ทาวน์โฮม,Townhome,42,85299000,2022-09-30
2,53,2020,12,กรุงเทพมหานคร,BANGKOK,คลองสามวา,KHLONG SAM WA,บ้าน,Detached House,16,95910000,2022-09-30
3,8,2019,6,นนทบุรี,NONTHABURI,เมืองนนทบุรี,MUEANG NONTHABURI,คอนโด,Condo,17,10908700,2022-09-30
4,22,2021,4,สมุทรปราการ,SAMUT PRAKAN,เมืองสมุทรปราการ,MUEANG SAMUT PRAKAN,คอนโด,Condo,13,9994000,2022-09-30
5,18,2022,2,ปทุมธานี,PATHUM THANI,เมืองปทุมธานี,MUEANG PATHUM THANI,คอนโด,Condo,38,9283000,2022-09-30
6,11,2020,2,สมุทรปราการ,SAMUT PRAKAN,เมืองสมุทรปราการ,MUEANG SAMUT PRAKAN,คอนโด,Condo,22,6252000,2022-09-30
7,9,2022,2,กรุงเทพมหานคร,BANGKOK,บางกะปิ,BANG KAPI,คอนโด,Condo,11,36134000,2022-09-30
8,45,2022,2,กรุงเทพมหานคร,BANGKOK,ภาษีเจริญ,PHASI CHAROEN,บ้านแฝด,Twin house,40,52553000,2022-09-30
9,41,2020,12,กรุงเทพมหานคร,BANGKOK,บางขุนเทียน,BANG KHUN THIAN,บ้าน,Detached House,11,69550000,2022-09-30
10,38,2022,2,สมุทรปราการ,SAMUT PRAKAN,เมืองสมุทรปราการ,MUEANG SAMUT PRAKAN,ทาวน์โฮม,Townhome,14,36495000,2022-09-30
11,51,2022,2,กรุงเทพมหานคร,BANGKOK,มีนบุรี,MIN BURI,บ้าน,Detached House,14,117810000,2022-09-30
12,44,2022,2,นนทบุรี,NONTHABURI,บางใหญ่,BANG YAI,บ้าน,Detached House,14,61240000,2022-09-30
13,2,2022,2,นนทบุรี,NONTHABURI,เมืองนนทบุรี,MUEANG NONTHABURI,คอนโด,Condo,87,103526000,2022-09-30
14,19,2021,4,นนทบุรี,NONTHABURI,ปากเกร็ด,PAK KRET,คอนโด,Condo,11,18420000,2022-09-30
15,28,2021,8,สมุทรปราการ,SAMUT PRAKAN,เมืองสมุทรปราการ,MUEANG SAMUT PRAKAN,คอนโด,Condo,33,7099000,2022-09-30
16,56,2022,2,สมุทรปราการ,SAMUT PRAKAN,พระสมุทรเจดีย์,PHRA SAMUT CHEDI,ทาวน์โฮม,Townhome,25,39799000,2022-09-30
17,6,2022,2,กรุงเทพมหานคร,BANGKOK,วัฒนา,VADHANA,คอนโด,Condo,12,44687000,2022-09-30
18,47,2022,2,นนทบุรี,NONTHABURI,บางกรวย,BANG KRUAI,บ้าน,Detached House,12,50600000,2022-09-30
19,29,2022,2,สมุทรปราการ,SAMUT PRAKAN,บางพลี,BANG PHLI,คอนโด,Condo,50,50890000,2022-09-30
20,39,2022,2,สมุทรปราการ,SAMUT PRAKAN,บางพลี,BANG PHLI,ทาวน์โฮม,Townhome,22,40873000,2022-09-30
21,13,2019,12,ปทุมธานี,PATHUM THANI,เมืองปทุมธานี,MUEANG PATHUM THANI,คอนโด,Condo,13,1318000,2022-09-30
22,31,2019,6,สมุทรปราการ,SAMUT PRAKAN,เมืองสมุทรปราการ,MUEANG SAMUT PRAKAN,คอนโด,Condo,22,5560700,2022-09-30
23,43,2022,2,นนทบุรี,NONTHABURI,ปากเกร็ด,PAK KRET,ทาวน์โฮม,Townhome,18,39545000,2022-09-30
24,1,2021,7,นนทบุรี,NONTHABURI,เมืองนนทบุรี,MUEANG NONTHABURI,คอนโด,Condo,12,19990000,2022-09-30
25,21,2021,8,นนทบุรี,NONTHABURI,เมืองนนทบุรี,MUEANG NONTHABURI,คอนโด,Condo,17,11039000,2022-09-30
26,14,2021,4,กรุงเทพมหานคร,BANGKOK,วังทองหลาง,WANG THONGLANG,คอนโด,Condo,12,15931500,2022-09-30
27,48,2022,2,นนทบุรี,NONTHABURI,เมืองนนทบุรี,MUEANG NONTHABURI,ทาวน์โฮม,Townhome,75,105431000,2022-09-30
28,16,2020,4,ปทุมธานี,PATHUM THANI,ธัญบุรี,THANYABURI,คอนโด,Condo,48,9342000,2022-09-30
29,54,2022,2,นนทบุรี,NONTHABURI,ปากเกร็ด,PAK KRET,บ้าน,Detached House,25,88363000,2022-09-30
30,3,2021,9,ปทุมธานี,PATHUM THANI,เมืองปทุมธานี,MUEANG PATHUM THANI,คอนโด,Condo,13,1300000,2022-09-30
31,27,2020,3,นนทบุรี,NONTHABURI,ปากเกร็ด,PAK KRET,คอนโด,Condo,19,5441000,2022-09-30
32,57,2022,2,ปทุมธานี,PATHUM THANI,ลำลูกกา,LAM LUK KA,ทาวน์โฮม,Townhome,19,23823000,2022-09-30
33,24,2019,6,กรุงเทพมหานคร,BANGKOK,คลองสามวา,KHLONG SAM WA,คอนโด,Condo,15,5381800,2022-09-30
34,33,2022,2,ปทุมธานี,PATHUM THANI,ธัญบุรี,THANYABURI,คอนโด,Condo,25,21279000,2022-09-30
35,4,2021,12,นนทบุรี,NONTHABURI,ปากเกร็ด,PAK KRET,คอนโด,Condo,12,10035000,2022-09-30
36,50,2022,2,นนทบุรี,NONTHABURI,บางบัวทอง,BANG BUA THONG,บ้าน,Detached House,18,60196000,2022-09-30
37,32,2021,4,นนทบุรี,NONTHABURI,เมืองนนทบุรี,MUEANG NONTHABURI,คอนโด,Condo,45,80929000,2022-09-30
38,46,2022,2,นครปฐม,NAKHON PATHOM,สามพราน,SAM PHRAN,ทาวน์โฮม,Townhome,11,24100000,2022-09-30
39,7,2022,2,ปทุมธานี,PATHUM THANI,ลำลูกกา,LAM LUK KA,คอนโด,Condo,42,29919000,2022-09-30
40,20,2019,6,กรุงเทพมหานคร,BANGKOK,หนองแขม,NONG KHAEM,คอนโด,Condo,11,3558200,2022-09-30
41,35,2022,2,กรุงเทพมหานคร,BANGKOK,บางนา,BANG NA,คอนโด,Condo,16,27747000,2022-09-30
42,23,2022,2,นนทบุรี,NONTHABURI,ปากเกร็ด,PAK KRET,คอนโด,Condo,39,75146000,2022-09-30
43,17,2019,6,กรุงเทพมหานคร,BANGKOK,ดินแดง,DIN DAENG,คอนโด,Condo,16,32229000,2022-09-30
44,26,2022,2,นครปฐม,NAKHON PATHOM,พุทธมณฑล,PHUTTHAMONTHON,คอนโด,Condo,13,15953000,2022-09-30
45,10,2022,2,นนทบุรี,NONTHABURI,บางบัวทอง,BANG BUA THONG,คอนโด,Condo,14,25536000,2022-09-30
46,40,2022,2,สมุทรปราการ,SAMUT PRAKAN,บางพลี,BANG PHLI,บ้าน,Detached House,23,72577000,2022-09-30
47,49,2022,2,ปทุมธานี,PATHUM THANI,เมืองปทุมธานี,MUEANG PATHUM THANI,ทาวน์โฮม,Townhome,11,19315000,2022-09-30
48,15,2022,2,สมุทรปราการ,SAMUT PRAKAN,บางเสาธง,BANG SAO THONG,คอนโด,Condo,27,11526000,2022-09-30
49,30,2020,2,ปทุมธานี,PATHUM THANI,เมืองปทุมธานี,MUEANG PATHUM THANI,คอนโด,Condo,17,1799000,2022-09-30
50,5,2019,7,สมุทรปราการ,SAMUT PRAKAN,เมืองสมุทรปราการ,MUEANG SAMUT PRAKAN,คอนโด,Condo,40,8527000,2022-09-30
51,12,2022,2,สมุทรปราการ,SAMUT PRAKAN,เมืองสมุทรปราการ,MUEANG SAMUT PRAKAN,คอนโด,Condo,64,62115000,2022-09-30
52,52,2022,2,นนทบุรี,NONTHABURI,ไทรน้อย,SAI NOI,ทาวน์โฮม,Townhome,13,16750000,2022-09-30
53,37,2020,12,กรุงเทพมหานคร,BANGKOK,สายไหม,SAI MAI,บ้าน,Detached House,12,67023000,2022-09-30
54,34,2020,5,ปทุมธานี,PATHUM THANI,เมืองปทุมธานี,MUEANG PATHUM THANI,คอนโด,Condo,32,3351000,2022-09-30
55,36,2021,8,สมุทรปราการ,SAMUT PRAKAN,เมืองสมุทรปราการ,MUEANG SAMUT PRAKAN,บ้าน,Detached House,35,11933000,2022-09-30
56,55,2022,2,ปทุมธานี,PATHUM THANI,เมืองปทุมธานี,MUEANG PATHUM THANI,บ้าน,Detached House,15,53008000,2022-09-30

In [200]:
opendata_volume_npa.columns

Index(['row_number', 'transction_year', 'transction_month',
       'listing_province_name_th', 'listing_province_name_en',
       'listing_district_name_th', 'listing_district_name_en',
       'project_propertytype_name_th', 'project_propertytype_name_en',
       'volume_npa', 'value_npa', 'day'],
      dtype='object')

In [201]:
opendata_volume_npa = opendata_volume_npa[['row_number', 'transction_year', 'transction_month',
       'listing_province_name_th', 'listing_province_name_en',
       'listing_district_name_th', 'listing_district_name_en',
       'project_propertytype_name_th', 'project_propertytype_name_en',
       'volume_npa', 'value_npa']]

In [202]:
opendata_volume_npa

,row_number,transction_year,transction_month,listing_province_name_th,listing_province_name_en,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_npa,value_npa
0,25,2021,7,กรุงเทพมหานคร,BANGKOK,วังทองหลาง,WANG THONGLANG,คอนโด,Condo,27,19272000
1,42,2022,2,นนทบุรี,NONTHABURI,บางบัวทอง,BANG BUA THONG,ทาวน์โฮม,Townhome,42,85299000
2,53,2020,12,กรุงเทพมหานคร,BANGKOK,คลองสามวา,KHLONG SAM WA,บ้าน,Detached House,16,95910000
3,8,2019,6,นนทบุรี,NONTHABURI,เมืองนนทบุรี,MUEANG NONTHABURI,คอนโด,Condo,17,10908700
4,22,2021,4,สมุทรปราการ,SAMUT PRAKAN,เมืองสมุทรปราการ,MUEANG SAMUT PRAKAN,คอนโด,Condo,13,9994000
5,18,2022,2,ปทุมธานี,PATHUM THANI,เมืองปทุมธานี,MUEANG PATHUM THANI,คอนโด,Condo,38,9283000
6,11,2020,2,สมุทรปราการ,SAMUT PRAKAN,เมืองสมุทรปราการ,MUEANG SAMUT PRAKAN,คอนโด,Condo,22,6252000
7,9,2022,2,กรุงเทพมหานคร,BANGKOK,บางกะปิ,BANG KAPI,คอนโด,Condo,11,36134000
8,45,2022,2,กรุงเทพมหานคร,BANGKOK,ภาษีเจริญ,PHASI CHAROEN,บ้านแฝด,Twin house,40,52553000
9,41,2020,12,กรุงเทพมหานคร,BANGKOK,บางขุนเทียน,BANG KHUN THIAN,บ้าน,Detached House,11,69550000
10,38,2022,2,สมุทรปราการ,SAMUT PRAKAN,เมืองสมุทรปราการ,MUEANG SAMUT PRAKAN,ทาวน์โฮม,Townhome,14,36495000
11,51,2022,2,กรุงเทพมหานคร,BANGKOK,มีนบุรี,MIN BURI,บ้าน,Detached House,14,117810000
12,44,2022,2,นนทบุรี,NONTHABURI,บางใหญ่,BANG YAI,บ้าน,Detached House,14,61240000
13,2,2022,2,นนทบุรี,NONTHABURI,เมืองนนทบุรี,MUEANG NONTHABURI,คอนโด,Condo,87,103526000
14,19,2021,4,นนทบุรี,NONTHABURI,ปากเกร็ด,PAK KRET,คอนโด,Condo,11,18420000
15,28,2021,8,สมุทรปราการ,SAMUT PRAKAN,เมืองสมุทรปราการ,MUEANG SAMUT PRAKAN,คอนโด,Condo,33,7099000
16,56,2022,2,สมุทรปราการ,SAMUT PRAKAN,พระสมุทรเจดีย์,PHRA SAMUT CHEDI,ทาวน์โฮม,Townhome,25,39799000
17,6,2022,2,กรุงเทพมหานคร,BANGKOK,วัฒนา,VADHANA,คอนโด,Condo,12,44687000
18,47,2022,2,นนทบุรี,NONTHABURI,บางกรวย,BANG KRUAI,บ้าน,Detached House,12,50600000
19,29,2022,2,สมุทรปราการ,SAMUT PRAKAN,บางพลี,BANG PHLI,คอนโด,Condo,50,50890000
20,39,2022,2,สมุทรปราการ,SAMUT PRAKAN,บางพลี,BANG PHLI,ทาวน์โฮม,Townhome,22,40873000
21,13,2019,12,ปทุมธานี,PATHUM THANI,เมืองปทุมธานี,MUEANG PATHUM THANI,คอนโด,Condo,13,1318000
22,31,2019,6,สมุทรปราการ,SAMUT PRAKAN,เมืองสมุทรปราการ,MUEANG SAMUT PRAKAN,คอนโด,Condo,22,5560700
23,43,2022,2,นนทบุรี,NONTHABURI,ปากเกร็ด,PAK KRET,ทาวน์โฮม,Townhome,18,39545000
24,1,2021,7,นนทบุรี,NONTHABURI,เมืองนนทบุรี,MUEANG NONTHABURI,คอนโด,Condo,12,19990000
25,21,2021,8,นนทบุรี,NONTHABURI,เมืองนนทบุรี,MUEANG NONTHABURI,คอนโด,Condo,17,11039000
26,14,2021,4,กรุงเทพมหานคร,BANGKOK,วังทองหลาง,WANG THONGLANG,คอนโด,Condo,12,15931500
27,48,2022,2,นนทบุรี,NONTHABURI,เมืองนนทบุรี,MUEANG NONTHABURI,ทาวน์โฮม,Townhome,75,105431000
28,16,2020,4,ปทุมธานี,PATHUM THANI,ธัญบุรี,THANYABURI,คอนโด,Condo,48,9342000
29,54,2022,2,นนทบุรี,NONTHABURI,ปากเกร็ด,PAK KRET,บ้าน,Detached House,25,88363000
30,3,2021,9,ปทุมธานี,PATHUM THANI,เมืองปทุมธานี,MUEANG PATHUM THANI,คอนโด,Condo,13,1300000
31,27,2020,3,นนทบุรี,NONTHABURI,ปากเกร็ด,PAK KRET,คอนโด,Condo,19,5441000
32,57,2022,2,ปทุมธานี,PATHUM THANI,ลำลูกกา,LAM LUK KA,ทาวน์โฮม,Townhome,19,23823000
33,24,2019,6,กรุงเทพมหานคร,BANGKOK,คลองสามวา,KHLONG SAM WA,คอนโด,Condo,15,5381800
34,33,2022,2,ปทุมธานี,PATHUM THANI,ธัญบุรี,THANYABURI,คอนโด,Condo,25,21279000
35,4,2021,12,นนทบุรี,NONTHABURI,ปากเกร็ด,PAK KRET,คอนโด,Condo,12,10035000
36,50,2022,2,นนทบุรี,NONTHABURI,บางบัวทอง,BANG BUA THONG,บ้าน,Detached House,18,60196000
37,32,2021,4,นนทบุรี,NONTHABURI,เมืองนนทบุรี,MUEANG NONTHABURI,คอนโด,Condo,45,80929000
38,46,2022,2,นครปฐม,NAKHON PATHOM,สามพราน,SAM PHRAN,ทาวน์โฮม,Townhome,11,24100000
39,7,2022,2,ปทุมธานี,PATHUM THANI,ลำลูกกา,LAM LUK KA,คอนโด,Condo,42,29919000
40,20,2019,6,กรุงเทพมหานคร,BANGKOK,หนองแขม,NONG KHAEM,คอนโด,Condo,11,3558200
41,35,2022,2,กรุงเทพมหานคร,BANGKOK,บางนา,BANG NA,คอนโด,Condo,16,27747000
42,23,2022,2,นนทบุรี,NONTHABURI,ปากเกร็ด,PAK KRET,คอนโด,Condo,39,75146000
43,17,2019,6,กรุงเทพมหานคร,BANGKOK,ดินแดง,DIN DAENG,คอนโด,Condo,16,32229000
44,26,2022,2,นครปฐม,NAKHON PATHOM,พุทธมณฑล,PHUTTHAMONTHON,คอนโด,Condo,13,15953000
45,10,2022,2,นนทบุรี,NONTHABURI,บางบัวทอง,BANG BUA THONG,คอนโด,Condo,14,25536000
46,40,2022,2,สมุทรปราการ,SAMUT PRAKAN,บางพลี,BANG PHLI,บ้าน,Detached House,23,72577000
47,49,2022,2,ปทุมธานี,PATHUM THANI,เมืองปทุมธานี,MUEANG PATHUM THANI,ทาวน์โฮม,Townhome,11,19315000
48,15,2022,2,สมุทรปราการ,SAMUT PRAKAN,บางเสาธง,BANG SAO THONG,คอนโด,Condo,27,11526000
49,30,2020,2,ปทุมธานี,PATHUM THANI,เมืองปทุมธานี,MUEANG PATHUM THANI,คอนโด,Condo,17,1799000
50,5,2019,7,สมุทรปราการ,SAMUT PRAKAN,เมืองสมุทรปราการ,MUEANG SAMUT PRAKAN,คอนโด,Condo,40,8527000
51,12,2022,2,สมุทรปราการ,SAMUT PRAKAN,เมืองสมุทรปราการ,MUEANG SAMUT PRAKAN,คอนโด,Condo,64,62115000
52,52,2022,2,นนทบุรี,NONTHABURI,ไทรน้อย,SAI NOI,ทาวน์โฮม,Townhome,13,16750000
53,37,2020,12,กรุงเทพมหานคร,BANGKOK,สายไหม,SAI MAI,บ้าน,Detached House,12,67023000
54,34,2020,5,ปทุมธานี,PATHUM THANI,เมืองปทุมธานี,MUEANG PATHUM THANI,คอนโด,Condo,32,3351000
55,36,2021,8,สมุทรปราการ,SAMUT PRAKAN,เมืองสมุทรปราการ,MUEANG SAMUT PRAKAN,บ้าน,Detached House,35,11933000
56,55,2022,2,ปทุมธานี,PATHUM THANI,เมืองปทุมธานี,MUEANG PATHUM THANI,บ้าน,Detached House,15,53008000

In [203]:
opendata_volume_npa.isnull().any()

row_number                      False
transction_year                 False
transction_month                False
listing_province_name_th        False
listing_province_name_en        False
listing_district_name_th        False
listing_district_name_en        False
project_propertytype_name_th    False
project_propertytype_name_en    False
volume_npa                      False
value_npa                       False
dtype: bool

In [204]:
opendata_volume_npa.dtypes

row_number                       int64
transction_year                  int64
transction_month                 int64
listing_province_name_th        object
listing_province_name_en        object
listing_district_name_th        object
listing_district_name_en        object
project_propertytype_name_th    object
project_propertytype_name_en    object
volume_npa                       int64
value_npa                        int64
dtype: object

In [205]:
opendata_volume_npa.to_csv('opendata_volume_npa_clean_Final_Project', index=False)

In [206]:
opendata_interest = pd.read_csv('opendata_interest.csv')
print(opendata_interest.shape) 
opendata_interest

(1767, 12)

,row_number,transction_year,transction_month,province_name_th,province_name_en,district_name_th,district_name_en,propertytype_name_th,propertytype_name_en,volume_of_project,interest,day
0,1185,2020,6,กรุงเทพมหานคร,Bangkok,คลองเตย,KHLONG TOEI,ทาวน์โฮม,Townhome,19,32,2022-09-30
1,369,2020,5,นนทบุรี,Nonthaburi,เมืองนนทบุรี,MUEANG NONTHABURI,ทาวน์โฮม,Townhome,81,555,2022-09-30
2,780,2019,2,กรุงเทพมหานคร,Bangkok,ห้วยขวาง,HUAI KHWANG,คอนโด,Condo,120,432,2022-09-30
3,1765,2019,7,สมุทรปราการ,Samut Prakan,พระประแดง,PHRA PRADAENG,ทาวน์โฮม,Townhome,11,28,2022-09-30
4,1104,2020,1,ปทุมธานี,Pathum Thani,เมืองปทุมธานี,MUEANG PATHUM THANI,บ้าน,Detached House,210,1405,2022-09-30
...,...,...,...,...,...,...,...,...,...,...,...,...
1762,526,2021,2,นนทบุรี,Nonthaburi,บางใหญ่,BANG YAI,บ้านแฝด,Twin house,23,205,2022-09-30
1763,569,2021,11,กรุงเทพมหานคร,Bangkok,ดอนเมือง,DON MUEANG,โฮมออฟฟิศ,Home office,12,52,2022-09-30
1764,280,2019,11,ปทุมธานี,Pathum Thani,คลองหลวง,KHLONG LUANG,บ้าน,Detached House,565,9697,2022-09-30
1765,247,2019,7,กรุงเทพมหานคร,Bangkok,วังทองหลาง,WANG THONGLANG,คอนโด,Condo,130,283,2022-09-30
1766,1475,2020,1,กรุงเทพมหานคร,Bangkok,สะพานสูง,SAPHAN SUNG,บ้าน,Detached House,402,2055,2022-09-30

In [207]:
opendata_interest.columns

Index(['row_number', 'transction_year', 'transction_month', 'province_name_th',
       'province_name_en', 'district_name_th', 'district_name_en',
       'propertytype_name_th', 'propertytype_name_en', 'volume_of_project',
       'interest', 'day'],
      dtype='object')

In [208]:
opendata_interest = opendata_interest[['transction_year', 'transction_month', 'province_name_th',
       'province_name_en', 'district_name_th', 'district_name_en',
       'propertytype_name_th', 'propertytype_name_en', 'volume_of_project',
       'interest']]

In [209]:
opendata_interest

,transction_year,transction_month,province_name_th,province_name_en,district_name_th,district_name_en,propertytype_name_th,propertytype_name_en,volume_of_project,interest
0,2020,6,กรุงเทพมหานคร,Bangkok,คลองเตย,KHLONG TOEI,ทาวน์โฮม,Townhome,19,32
1,2020,5,นนทบุรี,Nonthaburi,เมืองนนทบุรี,MUEANG NONTHABURI,ทาวน์โฮม,Townhome,81,555
2,2019,2,กรุงเทพมหานคร,Bangkok,ห้วยขวาง,HUAI KHWANG,คอนโด,Condo,120,432
3,2019,7,สมุทรปราการ,Samut Prakan,พระประแดง,PHRA PRADAENG,ทาวน์โฮม,Townhome,11,28
4,2020,1,ปทุมธานี,Pathum Thani,เมืองปทุมธานี,MUEANG PATHUM THANI,บ้าน,Detached House,210,1405
...,...,...,...,...,...,...,...,...,...,...
1762,2021,2,นนทบุรี,Nonthaburi,บางใหญ่,BANG YAI,บ้านแฝด,Twin house,23,205
1763,2021,11,กรุงเทพมหานคร,Bangkok,ดอนเมือง,DON MUEANG,โฮมออฟฟิศ,Home office,12,52
1764,2019,11,ปทุมธานี,Pathum Thani,คลองหลวง,KHLONG LUANG,บ้าน,Detached House,565,9697
1765,2019,7,กรุงเทพมหานคร,Bangkok,วังทองหลาง,WANG THONGLANG,คอนโด,Condo,130,283
1766,2020,1,กรุงเทพมหานคร,Bangkok,สะพานสูง,SAPHAN SUNG,บ้าน,Detached House,402,2055

In [210]:
opendata_interest.isnull().any()

transction_year         False
transction_month        False
province_name_th        False
province_name_en        False
district_name_th        False
district_name_en        False
propertytype_name_th    False
propertytype_name_en    False
volume_of_project       False
interest                False
dtype: bool

In [211]:
opendata_interest.dtypes

transction_year          int64
transction_month         int64
province_name_th        object
province_name_en        object
district_name_th        object
district_name_en        object
propertytype_name_th    object
propertytype_name_en    object
volume_of_project        int64
interest                 int64
dtype: object

In [212]:
opendata_interest.to_csv('opendata_interest_clean_Final_Project', index=False)

In [215]:
import pandas as pd
opendata_project_clean_Final_Project = pd.read_csv('opendata_project_clean_Final_Project.csv')
opendata_unittype_clean_Final_Project = pd.read_csv('opendata_unittype_clean_Final_Project.csv')
opendata_train_station_Fianl_Project = pd.read_csv('opendata_train_station_Fianl_Project.csv')
opendata_volume_npa_clean_Final_Project = pd.read_csv('opendata_volume_npa_clean_Final_Project.csv')
opendata_interest_clean_Final_Project = pd.read_csv('opendata_interest_clean_Final_Project.csv')

FileNotFoundError: ignored

In [213]:
table1_merge = opendata_project_clean_Final_Project.merge(opendata_unittype_clean_Final_Project, how ='left', left_on='project_id',right_on='project_id') 
print(table1_merge.shape)

NameError: ignored